.max-width-container {
  width: 90%;
  max-width: 90rem;
  margin-inline: auto;
}

.sidebar {
  width: 300px;
  background-color: #f0f5fa;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;

  &.closed {
    transform: translateX(-100%);
  }

  &.open {
    transform: translateX(0);
  }

  @media screen and (max-width: 1280px) {
    position: fixed;
    top: 297px; // Aligner sous le navbar
    left: 0;
    height: calc(100vh );
    z-index: 1000;
  }
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  max-width: 100vw;
  background-color: #f0f5fa;
  color: #000;
  align-items: center;
  transition: margin-left 0.3s ease-in-out;

  @media screen and (max-width: 1280px) {
    margin-left: 0;
  }
}

.app-container {
  display: flex;
  overflow: hidden;
  background-color: #f0f5fa;
  color: #fff;
  /* padding-top: 144px;  */ // Pour compenser la hauteur du navbar fixe

  @media screen and (max-width: 1280px) {
    .chat-container {
      margin-left: 0; // Pour s'adapter à l'absence du sidebar
    }
  }
}



.content-intro {
  margin-bottom: 20px;
  font-size: 16px;
}

.content-conclusion {
  margin-top: 20px;
  font-size: 14px;
}